<div class="about-us">
	<div class="logo-cell">
		<img class="logo" src="./images/logo.jpg"/>
		<div class="version">版本V1.1</div>
	</div>
	<div class="introduce">
		泛华金控集团成员，国内首家保险服务资源共享平台。借助LBS和移动技术运用，通过平台的理赔专业能力和整合市场车辆维修、养护资源，为广大泛华车主会员提供更低成本、更高效率、更有保障的服务解决方案。
	</div>

    <div class="weui-panel">
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_small-appmsg">
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"><img src="./images/email.png" alt=""></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>邮箱</p>
                        </div>
                        <span class="weui-cell__ft">service@chetong.net</span>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>&nbsp</p>
                        </div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"><img src="./images/wechat.png" alt=""></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>微信</p>
                        </div>
                        <span class="weui-cell__ft">代理人服务</span>
                    </a>
                    <a class="weui-cell weui-cell_access" href="javascript:;">
                        <div class="weui-cell__hd"><img src="./images/phone.png" alt=""></div>
                        <div class="weui-cell__bd weui-cell_primary">
                            <p>电话</p>
                        </div>
                        <span class="weui-cell__ft">4000-200001</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">@车童网版权所有</div>
</div>
