<div ng-controller="carEdit" class="car-edit">
    <div class="weui-tab">
        <div class="weui-navbar">
            <div class="weui-navbar__item">
                <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary add-button" ng-click="newCar()">+新增</a>
            </div>
        </div>
        <div class="weui-tab__panel">
            <div class="weui-tab__content">
                <div class="weui-panel weui-panel_access" ng-repeat="item in carNoList">
                    <div class="weui-panel__bd" ng-click="choiceCarShop(item)">
                        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd left-box">
                                <div ng-class="{'default':item.isDefault}" ng-if="item.isDefault">默认</div>
                                <div ng-if="!item.isDefault" ng-click="setDefault(item)">选择</div>
                            </div>
                            <div class="weui-media-box__bd">
                                <h2 ng-if="!item.isEditing" class="weui-media-box__title">{{item.prefix}}{{item.suffix}}</h2>
                                <div ng-if="item.isEditing" class="edit-cell">
                                    <span ng-click="openArea(item)">{{item.prefix}}<label>&#9660</label></span>
                                    <input class="weui-input" ng-model="item.suffix" placeholder="请输入车牌号" />
                                </div>
                            </div>
                            <div class="weui-media-box__hd rigth-box">
                                <span class="edit weui-btn_default" ng-if="!item.isEditing" ng-click="edit(item)">编辑</span>
                                <span class="weui-btn_warn" ng-if="!item.isEditing" ng-click="delete(item)">删除</span>
                                <span class="weui-btn_primary" ng-if="item.isEditing" ng-click="submit(item)">完成</span>
                                <span class="cancel weui-btn_default" ng-if="item.isEditing" ng-click="cancel(item)">取消</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-grids" ng-if="areaShow">
            <a href="javascript:;" class="weui-grid" ng-repeat="item in areaList">
                <p class="weui-grid__label" ng-class="{'select':tempItem.prefix == item.name}" ng-click="choiceItem(item)">{{item.name}}</p>
            </a>
        </div>
    </div>
</div>
