<div ng-controller="edit">
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入车牌号">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <input class="weui-input" type="tel" placeholder="请输入手机号">
            </div>
        </div>
    </div>
    <div class="weui-media-box weui-media-box_text">
        <p class="weui-media-box__desc">宝马BWM 1 4.6L 自动VX-R 1232</p>
    </div>
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
            <p class="weui-tabbar__label" style="font-size: 16px;line-height: 2.0">设置好了</p>
        </a>
    </div>
</div>
