<div ng-controller="orderEdit" class="order-edit">
    <div class="weui-panel">
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text order-box">
                <h4 class="weui-media-box__title">{{order.name}}</h4>
                <div class="address-box">
                    <i class="weui-icon-info-circle weui-icon_msg"></i>
                    <p class="weui-media-box__desc">{{order.address}}&nbsp 距离：{{order.distance}}</p>
                </div>
                <ul class="weui-media-box__info">
                    <i class="weui-icon-waiting weui-icon_msg"></i>
                    <li class="weui-media-box__info__meta">预约时间：{{order.date}}（{{order.week}}）{{order.time}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="weui-cells weui-cells_form" id="order-form">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
                <label class="weui-label">车牌号</label>
            </div>
            <div class="weui-cell__bd">
                <span>粤B X3456N</span>
            </div>
            <div class="weui-cell__ft" style="font-size: 17px;" ng-click="choiceCar()">选择</div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">联系人</label>
            </div>
            <div class="weui-cell__bd">
                <input ng-model="form.name" required class="weui-input" type="text" placeholder="请输入姓名">
            </div>
            <div class="weui-cell__ft">
                <img class="weui-vcode-img" ng-class="{'sex-active':form.sex==0}" src="./images/header.png" ng-click="choiceSex(0)">
                <img class="weui-vcode-img" ng-class="{'sex-active':form.sex==1}" src="./images/header.png" ng-click="choiceSex(1)">
            </div>
        </div>
        <div class="weui-cell" ng-if="registed">
            <div class="weui-cell__hd">
                <label class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
                <span>{{form.mobile}}</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode" ng-if="!registed">
            <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
            <div class="weui-cell__bd">
                <input ng-model="form.mobile" class="weui-input" type="tel" required pattern="^\d{11}$" maxlength="11" placeholder="请输入手机号" emptyTips="请输入手机号" notMatchTips="请输入正确的手机号">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn" ng-click="getMobileCode()">获取验证码</button>
            </div>
        </div>
        <div class="weui-cell" ng-if="!registed">
            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" required ng-model="form.code" type="number" placeholder="请输入验证码"/>
            </div>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" ng-click="submit()">
            <p class="weui-tabbar__label" style="font-size: 16px;line-height: 2.0">下一步</p>
        </a>
    </div>
</div>
