<div ng-controller="orderEdit" class="order-edit">
    <div class="weui-panel">
        <div class="weui-panel__bd">
            <div class="weui-media-box weui-media-box_text order-box">
                <h4 class="weui-media-box__title">{{order.name}}</h4>
                <div class="address-box">
                    <i class="weui-icon-info-circle weui-icon_msg"></i>
                    <p class="weui-media-box__desc">{{order.address}}&nbsp 距离：{{order.distance}}</p>
                </div>
                <ul class="weui-media-box__info">
                    <i class="weui-icon-waiting weui-icon_msg"></i>
                    <li class="weui-media-box__info__meta">预约时间：{{order.date}}（{{order.week}}）{{order.time}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="weui-cells weui-cells_form" id="order-form">
        <div class="weui-cell weui-cell_access">
            <div class="weui-cell__hd">
                <label class="weui-label">车牌号</label>
            </div>
            <div class="weui-cell__bd">
                <span>粤B X3456N</span>
            </div>
            <div class="weui-cell__ft" style="font-size: 14px;line-height:1.4;" ng-click="choiceCar()">更多</div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">联系人</label>
            </div>
            <div class="weui-cell__bd">
                <input ng-model="form.name" required class="weui-input" type="text" placeholder="请输入联系人姓名" emptyTips="请输入联系人姓名">
            </div>
            <div class="weui-cell__ft">
                <img class="weui-vcode-img" ng-if="form.sex==0" src="./images/header/man_active.jpg" ng-click="choiceSex(0)">
                <img class="weui-vcode-img" ng-if="form.sex!=0" src="./images/header/man.jpg" ng-click="choiceSex(0)">
                <img class="weui-vcode-img" ng-if="form.sex==1" src="./images/header/woman_active.jpg" ng-click="choiceSex(1)">
                <img class="weui-vcode-img" ng-if="form.sex!=1" src="./images/header/woman.jpg" ng-click="choiceSex(1)">
            </div>
        </div>
        <div class="weui-cell" ng-if="registed">
            <div class="weui-cell__hd">
                <label class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
                <span>{{form.mobile}}</span>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode" ng-if="!registed">
            <div class="weui-cell__hd">
                <label class="weui-label">手机号</label>
            </div>
            <div class="weui-cell__bd">
                <input ng-model="form.mobile" class="weui-input" type="tel" required pattern="^\d{11}$" maxlength="11" placeholder="请输入手机号" emptyTips="请输入手机号" notMatchTips="请输入正确的手机号">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn send" ng-click="getMobileCode()" ng-if="!timer">获取验证码</button>
                <button class="weui-vcode-btn resend" ng-if="timer">重新获取({{second}})s</button>
            </div>
        </div>
        <div class="weui-cell" ng-if="!registed">
            <div class="weui-cell__hd">
                <label class="weui-label">验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" required ng-model="form.code" type="number" maxlength="6" placeholder="请输入验证码" />
            </div>
        </div>
    </div>
    <div class="weui-flex ensure-box">
        <div class="weui-flex__item">
            <div class="placeholder"><i class="weui-icon-success"></i>原厂保障</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder"><i class="weui-icon-success"></i>保障无忧</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder"><i class="weui-icon-success"></i>高性价比</div>
        </div>
        <div class="weui-flex__item">
            <div class="placeholder"><i class="weui-icon-success"></i>随时可退</div>
        </div>
    </div>
    <div class="bottom-blank"></div>
    <div class="weui-tabbar">
        <a href="javascript:;" class="weui-btn weui-btn_primary submit-button" ng-click="submit()">下一步</a>
    </div>
</div>
