<div ng-controller="orderSuccess" class="order-detail">
    <div class="top-panel">
        <i class="weui-icon-success weui-icon_msg" ng-if="!shop.canceled"></i>
        <i class="weui-icon-cancel" ng-if="shop.canceled"></i>
        <div ng-if="!shop.canceled">
            <div class="state-label">预约成功</div>
            <div class="count-time">
                <span class="d"></span>
                <span class="h"></span>
                <span class="m"></span>
                <span class="s"></span>
            </div>
            <a href="javascript:;" class="weui-btn weui-btn_plain-default cancel-button" ng-class="{'weui-btn_plain-disabled':canceling}" ng-click="cancelOrder()">取消预约</a>
        </div>
        <div style="color:#F43530" ng-if="shop.canceled">
            <div class="state-label">您的预约已取消</div>
            <div class="cancel-time">取消时间：2017-06-09</div>
        </div>
    </div>
    <div class="weui-panel no-top-line">
        <div class="weui-cells__title">商家详细信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd shop-hd">
                    <label class="weui-label">店名：</label>
                </div>
                <div class="weui-cell__bd shop-bd">
                    <span>{{shop.name}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd shop-hd">
                    <label class="weui-label">地址：</label>
                </div>
                <div class="weui-cell__bd shop-bd">
                    <span>{{shop.address}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd shop-hd">
                    <label class="weui-label">项目：</label>
                </div>
                <div class="weui-cell__bd shop-bd">
                    <span>{{shop.type}}</span>
                </div>
            </div>
            <div class="weui-panel order-time">
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">预约时间段：</h4>
                        <p class="weui-media-box__desc">{{shop.date}}&nbsp&nbsp{{shop.time}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
