<div ng-controller="orderList" class="order-list">
    <div class="weui-panel weui-panel_access" ng-repeat="item in orderList">
        <div class="weui-panel__bd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" ng-src="{{item.icon}}" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h2 class="weui-media-box__title">{{item.name}}</h2>
                    <p class="weui-media-box__desc desc">{{item.address}}</p>
                </div>
                <div class="weui-media-box__hd rigth-box">
                    <div>{{item.state}}</div>
                </div>
            </a>
        </div>
    </div>
</div>
