/* reset */

html,
body {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #F8F8F8;
}

ul {
    list-style: none;
}

.bottom-blank {
    height: 46px;
}

.submit-button {
    margin: 0 10px;
    margin-top: 30px;
}

.weui-cells_form {
    .weui-cell__ft {
        button.weui-vcode-btn {
            width: 110px;
        }
        button.send {
            &:active {
                background-color: #ECECEC;
            }
        }
        button.resend {
            color: #999999;
            font-size: 13px;
            &:active {
                background-color: transparent;
            }
        }
    }
}

.weui-grids.area-keyboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #DEDEDE;
    padding: 5px 0;
    z-index: 600;
    .weui-grid {
        width: 12.5%;
        background-color: #DEDEDE;
        padding: 3px 5px;
        p {
            padding: 10px 5px;
            font-size: 12px;
            background-color: #ffffff;
            border-radius: 3px;
            box-shadow: 0px 2px 1px #aaaaaa;
            &.select {
                background-color: #cccccc;
            }
            &:active {
                background-color: #cccccc;
            }
        }
        &:before {
            border-right: none;
        }
        &:after {
            border-bottom: none;
        }
    }
}

.slogan {
    margin-top: 95px;
    overflow: hidden;
    p {
        text-align: center;
        font-size: 14px;
        color: #999999;
        margin-bottom: 20px;
    }
    .billboards {
        height: 80px;
        text-align: center;
        float: left;
        position: relative;
        left: 50%;
        .item {
            position: relative;
            float: left;
            left: -50%;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            padding: 5px;
            font-size: 12px;
            border: 1px solid #999999;
            margin: 0 10px;
            &:first-child {
                div {
                    line-height: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
}
