.member-edit {
    height: 100%;
    overflow: auto;
    .weui-label {
        width: 65px;
    }
    .edit-cell {
        white-space: nowrap;
        span {
            margin-right: 5px;
        }
        label {
            color: #666666;
            font-size: 13px;
        }
    }
}

#car-form {
    &:after {
        border-bottom: 0;
    }
}

#mobile-form {
    margin-top: 0;
    &:before {
        left: 15px;
    }
}
