/**your common css here**/
.member-detail{
	.weui-cells{
		.weui-label{
			width: 65px;
		}
		.weui-cell__bd{
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
			color: #999999;
			margin-right: 10px;
		}
	}
}