/**your common css here**/
.mobile-edit{
	.weui-cells{
		font-size: 14px;
		.weui-label{
			width: 70px;
		}
		.tip-button{
			border-left: none;
			color: #FFBE00;
			i{
				font-size: 12px;
			}
		}
	}
	.new-mobile-cell{
		&:before{
			left: 0;
		}
	}
}