.order-detail {
	height: 100%;
	overflow: auto;
	.top-panel{
		text-align: center;
		padding: 10px 0;
        padding-top: 30px;
        i{
            font-size: 80px;
        }
	}
    .shop-hd {
        width: 50px;
    }
    .shop-bd {
        color: #999999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .weui-cell:before{
    	left: 0;
    }
    .order-time{
    	margin-top: 0;
    	&:after{
    		border-bottom: none;
    	}
    }
    .cancel-button{
    	width: 150px;
    	font-size: 14px;
    	line-height: 2;
    	margin-top: 10px;
    }
    .weui-cells__title{
    	color: #333333;
    	font-size: 15px;
    }
    .weui-cells{
    	&:after{
    		border-bottom: none;
    	}
    }
    .weui-cells,.weui-media-box__title{
    	font-size: 14px;
    }
    .weui-panel.no-top-line{
    	&:before{
    		border-top: none;
    	}
        &:after{
            border-bottom: none;
        }
    }
    .count-time,.cancel-time{
        color: #999999;
        font-size: 12px;
    }
    .state-label{
        margin-top: 20px;
        margin-bottom: 5px;
        color:#333333;
        font-weight: 400;
    }
}
