
.before-after-updown {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #CCCCCC;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.before-after-lfrt {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    color: #CCCCCC;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.orderContr {
	height: 100%;
	.order-date {
        margin: 0 5px;
        border-radius: 5px;
        &:active{
        	background-color: #EDEDED;
        }
    }
    .order-picker{
        border: 1px solid #999999;
    }
    .order-date-active {
        background-color: #1AAD19;
        color: #ffffff;
        &:active{
        	background-color: #1AAD19;
        }
    }
    @dateBoxWidth: 50px;
    .weui-navbar__item {
        padding: 0;
       
        .label{
            position: absolute;
            height: 14px;
            width: @dateBoxWidth;
            line-height: 14px;
            top: 0;
            left: 5px;
            text-align: center;
            font-size: 12px;
            
        }
    }
    .weui-tab__panel {
        padding-top: 82px;
        .weui-panel__ft{
            padding-bottom: 5px;
        }
    }
    .top-nav {
        background-color: #ffffff;
        padding-top: 10px;
        padding-bottom: 8px;
        .weui-navbar__item {
            background-color: #ffffff;
            &:active {
                background-color: #ffffff;
            }
        }
    }
    .sub-nav {
        top: 58px;
    }
    .desc {
        width: auto;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        word-wrap: break-word;
        word-break: break-all;
        margin-top: 15px
    }
    .rigth-box {
        margin-right: 0;
        color: #999999;
        width: 40px;
        font-size: 14px;
    }
    .weui-flex__item {
        text-align: center;
        font-size: 12px;
         position: relative;
    }
    .weui-panel {
        margin-top: 0;
        &:before {
            border-top: none;
        }
    }
    .page-list {
        overflow: auto;
        background-color: #FFF;
        display: block;
    }
    .order-text{
        color: #999999;
    }
}
