/**your common css here**/
.order-list{
	.desc {
        width: auto;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        word-wrap: break-word;
        word-break: break-all;
        margin-top: 15px
    }
}